.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em 2em;
  max-width: 1100px;
  margin: 1em auto;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease;
}

.logo img {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease;
}

.navContainer {
  flex-grow: 1;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  list-style: none;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}

.rightSection {
  display: flex;
  align-items: center;
}

.socialLinksContainer {
  display: flex;
  gap: 1.2em;
  margin-right: 1em;
}

.socialLink {
  display: flex;
  align-items: center;
}

.socialImage {
  width: 50px;
  opacity: 0.85;
  transition: all 0.3s ease;
}

.socialImage:hover {
  opacity: 1;
  transform: scale(1.1);
}

.link {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
  display: inline-block;
  font-weight: 300;
}

.link:hover {
  color: #51a3a3;
  transform: scale(1.12);
}

.mobileMenuToggle {
  display: none;
}

.mobileMenu {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.mobileNavLinks {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  list-style: none;
  margin-bottom: 2em;
  text-align: center;
}

.mobileSocialLinks {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.drawerPaper {
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1024px) {
  .desktopNavLinks,
  .desktopSocialLinks {
    display: none;
  }

  .mobileMenuToggle {
    display: flex;
  }
}
